---
import { navbarItems } from '@data/navbar'
import Home from '@components/icons/Home.astro';
import Search from '@components/icons/Search.astro';
import List from '@icons/List.astro';
import Originals from '@icons/Originals.astro';
import Movies from '@icons/Movies.astro';
import Series from '@icons/Series.astro';
import Download from '@icons/Download.astro';

const icons:any = {
    Home,
    Search,
    List,
    Originals,
    Movies,
    Series,
    Download,
}
---

<nav class="navbar">
    <ul class="nav-list">
        {navbarItems.map(item => {
            const IconComponent = icons[item.icon];

            return (
                <li class={`list-item ${item.isMobile === false ? 'mobile-hidden' : ''} ${item.icon === 'Download' ? 'none' : ''}`}>

                    <IconComponent />

                    <a class="list-text" href={item.path}>
                        {item.title}
                    </a>
                </li>
            );
        })}
    </ul>
</nav>

<style>
.navbar {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    gap: 4rem;

    @media (min-width: 768px) {
        gap: 0;
        margin-inline-start: 3rem;
    }
}

.list-item {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 1.42px;
    cursor: pointer;
    font-size: .8125rem;
    white-space: nowrap;
    user-select: none;
    font-weight: 400;
    position: relative;
}

.list-item .list-text::after {
    content: '';
    display: block;
    background-color: var(--white);
    border-radius: 10px;
    height: 2px;
    transform-origin: left center;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    width: 0;
    position: relative;
    bottom: -6px;
    opacity: 0;
}

/* Dropdown Menu */

.list-item.dropdown {
    display: block;
    position: relative;
}

/* Mobile Hidden */
.list-item.mobile-hidden {
    display: none;
}

.list-item .list-text {
    display: none;
}

.list-item .list-text.visible-text {
    display: block;
}

@media (min-width: 768px) {

    .list-item.none  {
        display: none;
    }
}

@media (min-width: 1024px) {

    /* Desktop Visible */
    .list-item.mobile-hidden {
        display: flex;
    }

    .navbar {
        gap: 0rem;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-list .list-item {
        padding: 16px 12px;
    }

    .icons {
        width: 20px;
        height: 20px;
    }

    /* Nav Items Hover */
    .nav-list .list-item:hover .list-text::after {
        width: 100%;
        opacity: 1;
        left: 0;
    }

    .list-item.dropdown {
        display: none;
    }

}

@media (min-width: 1440px) {
    .nav-list {
        margin-inline-start: unset;
    }

    .nav-list .list-item {
        padding: 16px 18px;
    }

    .list-item .list-text {
        display: block;
    }
}
</style>