<span class="icons">
    <svg viewBox="0 0 36 36">
        <path d="M17.625 26.028L10.44 30l1.373-8.412L6 15.631l8.033-1.228 3.592-7.653 3.592 7.653 8.033 1.228-5.813 5.957L24.81 30z"></path>
    </svg>
</span>